<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>EJEMPLO DE APP WEB MVC CON SPRING BOOT</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:fragment="cabecero">
            <h1 th:text="#{plantilla.titulo}">El Titulo</h1>
        </header>

        <footer th:fragment="pie">
            <span th:text="#{plantilla.pie}">El Pie</span>
            <p><a href="https://www.youtube.com/@jaller.98">
                Canal de Youtube
            </a></p>
        </footer>
    </body>
</html>