<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Todo suply a title</title>
    </head>
    <body>
        <h2>PAGINA DE INICIO</h2>
            <p th:text="${mensaje}"></p>
            <p th:text="${dato}"></p>
            <hr>
        <b>CEDULA:</b><span th:text="${alguien.cedula}"></span><br>
        <b>CLAVE:</b><span th:text="${alguien.clave}"></span><br>
        <b>NOMBRE:</b><span th:text="${alguien.nombre}"></span><br>
        <b>EMAIL:</b><span th:text="${alguien.email}"></span><br>
    </body>
</html>